body{
    font-family: 'Special Elite',cursive;
    background-color: white;
}

.header_div{
    background: white;
    color: rgb(126, 71, 255);
}

.header_div img{
    width: 200px;
    border-radius: 20px;
}

.main_div{
    background: #c7e6ff;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}

.main_div label{
    background: white;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 5px rgb(116, 114, 114);
}

#camera,#result{
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px rgb(116, 114, 114);
}

.main_div button{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px rgb(116, 114, 114);
    border: 1px solid;
}

.footer_div{
    margin-bottom: 50px;
    background-color: aquamarine;
}

.footer_div h4{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px rgb(116, 114, 114);
}

.footer_div img{
    width: 70px;
}

.copy_right_footer{
    position: fixed;
    color: #050505;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
}